# System
.DS_Store

# Log
*.log

# Local files
*.local
*.local.*
!*.local.template.*

# Cargo
/target/

# Node
node_modules/

# Husky pre-commit
.husky/_/

# Turbo
.turbo/

# Typescript compiler (tsc)
*.tsbuildinfo
dist/

# next.js
next-env.d.ts
.next/
/apps/*/out/
